@forward "bulma/sass";
@use "buefy/src/scss/buefy";
@use "sass-stretched-link";
@use "bulma/sass/utilities/mixins";
@use "bulma/sass/utilities/derived-variables" as vars;

$shadow-lg: 0 0.5em 2em -0.125em rgba(vars.$scheme-invert, 0.2),
  0 0 0 1px rgba(vars.$scheme-invert, 0.02);
  
.is-stretched {
  @include sass-stretched-link.stretched-link;
}

.is-scale-on-hover {
  transition: 0.3s all;

  &:hover,
  &:focus-within {
    transform: scale(1.05);
  }
}

dl.is-table {
  
  .dl-row {
    @include mixins.mobile {
      margin-bottom: .5rem;
    }
    @include mixins.tablet {
      display: table-row;
    }
  }

  dt {
    font-weight: bold;

    @include mixins.tablet {
      padding-right: 1rem;
    }
  }
}

.media {
  align-items: stretch;

  &.is-vertical-mobile {

    @include mixins.mobile {
      flex-direction: column;
    }
  
    .media-left {
      @include mixins.mobile {
        margin-inline-end: 0;
        margin-bottom: var(--bulma-media-spacing);
      }
    
      .image {
        @include mixins.mobile {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
    
    .media-right {
      @include mixins.mobile {
        margin-inline-start: 0;
        margin-top: var(--bulma-media-spacing);
      }
    }
  }
}

.card {

  &.is-scale-on-hover {
    &:hover,
    &:focus-within {
      box-shadow: $shadow-lg;
    }
  }
}

.button {
  
  &.is-link {
    background: transparent;
    color: hsl(var(--bulma-button-h),var(--bulma-button-s),calc(var(--bulma-button-background-l) + var(--bulma-button-background-l-delta)));
    padding: 0;
    vertical-align: baseline;
  }
}

.buttons {

  &.is-vertical-tablet {

    @include mixins.tablet {
      flex-direction: column;
      align-items: flex-start;
    }

    &.is-right {
      @include mixins.tablet {
        align-items: flex-end;
      }
    }
  }
}

.image.is-128 {
  width: 128px;
}

.columns {

  &.is-reverse-mobile {
    @include mixins.mobile {
      display: flex;
      flex-direction: column-reverse;
    }
    &.is-vcentered {
      @include mixins.mobile {
        align-items: stretch;
      }
    }
  }
}

.mb-12 {
  margin-bottom: 6rem;
}
